<div class="card" [ngClass]="{'horizontal': type === 'horizontal'}">
    <div class="card-image">
        <img [src]="product.image" />
        <span class="card-title" *ngIf="type !== 'horizontal'">{{ product.name }}</span>
    </div>
    <div [ngClass]="{'card-stacked': type === 'horizontal'}">
        <div class="card-content">
            <p class="product-card__description">
                {{ product.description }}
            </p>
            <p class="product-card__price">
                {{ product.price }}$
            </p>
        </div>
        <div class="card-action">
            <a [routerLink]="['/products/' + product.id]" *ngIf="!showBuyButton">
                View product
            </a>
            <button class="snipcart-add-item waves-effect waves-light btn-large btn"
                *ngIf="showBuyButton"
                data-item-url="https://scully-snipcart-api.netlify.com/products.json"
                [attr.data-item-price]="product.price"
                [attr.data-item-image]="product.image"
                [attr.data-item-name]="product.name"
                [attr.data-item-description]="product.description"
                [attr.data-item-id]="product.id">
                Add to cart
            </button>
        </div>
    </div>
</div>